@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="" style="height:300px; box-decoration-break:initial; background-color:cadetblue">

    <div class=" text-center">
       <h1 class="align-content-center" style="font-family:'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif; font-display:auto; font-weight:300;">Up-Coming</h1>
    </div>

</div>
<div class="row " style="margin-left:200px; margin-top:20px;" >
        <a class="btn btn-sm btn-outline-secondary" style="margin-left:5px;" asp-action="ProductUnitIndex" asp-controller="ProductUnit">Product Unit</a>
        
</div>
<div class="row">
    @*Product Card*@
    <div class="card border col-2.5" style="margin-top:20px; margin-left: 200px;">
        <div class="card-header text-center text-capitalize">
            <h3>Product Status <a class="btn btn-sm btn-dark" style="margin-left:55px;" asp-action="Index" asp-controller="Product">Add Product</a></h3>
        </div>
        <div class="card-body">
            <p>Test Body</p>
        </div>
        <div class="card-footer">
            <p>Test Footer</p>
        </div>
    </div>
    @*Book Card*@
    <div class="card border col-2.5" style="margin-top:20px; margin-left: 0px;">
        <div class="card-header text-center text-capitalize">
            <h3>Book Status  <a class="btn btn-sm btn-dark" style="margin-left:55px;" asp-action="Index" asp-controller="BookInfo"> Add Book</a></h3>
        </div>
        <div class="card-body">
            <p>Test Body</p>
        </div>
        <div class="card-footer">
            <p>Test Footer</p>
        </div>
    </div>
    @*Author Card*@
    <div class="card border col-2.5" style="margin-top:20px; margin-left: 0px;">
        <div class="card-header text-center text-capitalize">
            <h3>Author Status <a class="btn btn-sm btn-dark" style="margin-left:5px;" asp-action="Index" asp-controller="AuthorInfo">Add Author</a></h3>
        </div>
        <div class="card-body">
            <p>Test Body</p>
        </div>
        <div class="card-footer">
            <p>Test Footer</p>
        </div>
    </div>
    @*Price Card*@
    <div class="card border col-2.5" style="margin-top:20px; margin-left: 0px;">
        <div class="card-header text-center text-capitalize">
            <h3>Price Range <a class="btn btn-sm btn-dark" style="margin-left:55px;" asp-action="Index" asp-controller="PriceRange">Add Price Range</a></h3>
        </div>
        <div class="card-body">
            <p>Test Body</p>
        </div>
        <div class="card-footer">
            <p>Test Footer</p>
        </div>
    </div>
</div>


