@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="" style="height:300px; box-decoration-break:initial; background-color:cadetblue">
       @*<h1 style="text-align:center; margin-top:120px; font-family:'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif; font-display:auto; font-weight:300;">Up-Coming</h1>*@
</div>
<div class="row " style="margin-left:160px; margin-top:20px;" >
        <a class="btn btn-sm btn-outline-secondary" style="margin-left:5px;" asp-action="ProductUnitIndex" asp-controller="ProductUnit">Product Unit</a>
        <a class="btn btn-sm btn-outline-secondary" style="margin-left:5px;" asp-area="HrAddress" asp-action="Index" asp-controller="HrDivision">DIVISION</a>
</div>
<div class="row">
    @*Product Card*@
    <div class="card border col-2.5" style="margin-top:20px; margin-left: 160px;">
        <div class="card-header text-center text-capitalize">
            <h3>Product Status <a class="btn btn-sm btn-dark" style="margin-left:55px;" asp-action="Index" asp-controller="Product">Product Details</a></h3>
        </div>
        <div class="card-body">
            <p>Test Body</p>
        </div>
        <div class="card-footer">
            <p>Test Footer</p>
        </div>
    </div>
    @*Book Card*@
    <div class="card border col-2.5" style="margin-top:20px; margin-left: 0px;">
        <div class="card-header text-center text-capitalize">
            <h3>Book Status  <a class="btn btn-sm btn-dark" style="margin-left:55px;" asp-action="Index" asp-controller="BookInfo">Book Details</a></h3>
        </div>
        <div class="card-body">
            <p>Test Body</p>
        </div>
        <div class="card-footer">
            <p>Test Footer</p>
        </div>
    </div>
    @*Author Card*@
    <div class="card border col-2.5" style="margin-top:20px; margin-left: 0px;">
        <div class="card-header text-center text-capitalize">
            <h3>Author Status <a class="btn btn-sm btn-dark" style="margin-left:5px;" asp-action="Index" asp-controller="AuthorInfo">Author Details</a></h3>
        </div>
        <div class="card-body">
            <p>Test Body</p>
        </div>
        <div class="card-footer">
            <p>Test Footer</p>
        </div>
    </div>
    @*Price Card*@
    <div class="card border col-2.5" style="margin-top:20px; margin-left: 0px;">
        <div class="card-header text-center text-capitalize">
            <h3>Price Range <a class="btn btn-sm btn-dark" style="margin-left:55px;" asp-action="Index" asp-controller="PriceRange">Price Range Details</a></h3>
        </div>
        <div class="card-body">
            <p>Test Body</p>
        </div>
        <div class="card-footer">
            <p>Test Footer</p>
        </div>
    </div>
</div>


