@model Tech.Models.AuthorInfo
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-6">

    <form asp-controller="AuthorInfo" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="name">Author Name</label>
            <input asp-for="name" class="form-control" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

