@model IEnumerable<Tech.Models.AuthorInfo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-bottom:5px; margin-left:160px;">


    <div class="row">
        <h3 class="col-3">Author Information</h3>
        
        <a asp-action="Create"  style="margin-left:140px; margin-bottom:5px;" class="btn btn-dark">New Author Add</a>
    </div>
    
    <table class="table table-bordered table-hover col-5">
        <thead>
            <tr>
                @*<th>
                    Sl. No.
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td class="col-3">
                    <a asp-action="Delete" class="btn btn-outline-info">Edit</a>
                    <a asp-action="Delete" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
            }
        </tbody>

    </table>
</div>
