@model Tech.Models.Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-left:160px;">
    <hr />
    <div class="row">

        <form asp-action="Create">
            <div class="row col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-6">
                    <label asp-for="Id" class="control-label">Product Id</label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="enName" class="control-label">EnName</label>
                    <input asp-for="enName" class="form-control" />
                    <span asp-validation-for="enName"></span>
                </div>

            </div>
            <div class="row col-md-12">

                <div class="form-group col-md-6">
                    <label asp-for="bnName" class="control-label">BnName</label>
                    <input asp-for="bnName" class="form-control" />
                    <span asp-validation-for="bnName"></span>
                </div>
                <div class="form-group col-md-6 ">
                    <label asp-for="ProductUnit" class="control-label">ProductUnit</label>
                    <input asp-for="ProductUnit" class="form-control" />
                    <span asp-validation-for="ProductUnit"></span>
                </div>
            </div>

            <div class="row col-md-12">
                <div class="form-group col-md-6">
                    <label asp-for="Color" class="control-label">Color</label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>


                @*<div class="form-group col-md-6">
                        <label asp-for="ManufracturingAddress" class="control-label">M.F. Address</label>
                        <input asp-for="ManufracturingAddress" class="form-control" />
                        <span asp-validation-for="ManufracturingAddress"></span>
                    </div>*@
            </div>
            @*<div class="row col-md-12">
                <div class="form-group col-md-6">
                    <label asp-for="bnName" class="control-label">BnName</label>
                    <input asp-for="bnName" class="form-control" />
                    <span asp-validation-for="bnName"></span>
                </div>
                <div class="form-group col-md-6 ">
                    <label asp-for="ProductUnit" class="control-label">ProductUnit</label>
                    <input asp-for="ProductUnit" class="form-control" />
                    <span asp-validation-for="ProductUnit"></span>
                </div>
                </div>*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-block" />
            </div>

        </form>
    </div>





    @*@section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@

</div>