@model IEnumerable<Tech.Models.BookInfo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<table class="table col-3 table-bordered table-hover">
    <thead class="text-sm-left">
        <tr>
            <th>Serial No.</th>
            <th>Book Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Bangla</td>
        </tr>
    </tbody>

</table>
